# <center>Погружение в типы данных<center>

## <center>Списки и кортежи<center>

### <center>**Создание пустых списков:**<center>
my_list = list()  
my_list = [ ]

#### **Задание 2.4**

Создайте пустой список с именем empty_list с помощью конструктора типа и выведите через функцию print() содержимое полученной переменной. В качестве ответа введите результат вывода. Введите ответ без пробелов.

In [4]:
empty_list = list()  # создаем пустой список 
print(empty_list)    # выводим пустой список

[]

#### **Задание 2.5**

Теперь создайте переменную another_empty_list, но уже используя квадратные скобки. Также выведите через функцию print() содержимое переменной. В качестве ответа введите результат вывода.

In [5]:
another_empty_list = []     # создаем пустой список 
print(another_empty_list)   # выводим пустой список

[]

### <center>**Создание непустых списков вручную:**<center>
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
vowels = ['a', 'e', 'i', 'o', 'u', 'y']  
languages = ['Java', 'C', 'Python', 'C++', 'Visual Basic.NET

#### <center>**Генератор целочисленных списков**<center>

In [6]:
a = list(range(10))      # генерируем целочисленный список с шагом 1
print(a)                 # выводим список 
b = list(range(0,10,2))  # генерируем список четных чисел
print(b)                 # выводим список

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

#### **Задание 2.6**

С помощью функции range() создайте список и занесите его в переменную a. В качестве левой границы укажите -10, а в качестве правой — 100. Шаг не задавайте.
Не забывайте о преобразовании типа переменной в список - list()

In [7]:
a = list(range(-10, 100))  # создаем список
print(a)                   # выводим список

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

#### **Задание 2.7**

Создайте с помощью функции range() список b. В качестве левой границы укажите 50, а в качестве правой — 20 (двадцать). Шаг сделайте равным -2 (минус два). В поле ниже введите код, который у вас получился.

In [6]:
b = list(range(50, 20, -2))
print(b)

[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22]

### <center>**Методы работы со списками.**<center>

#### <center>**Получение элементов по индексу:**<center>

In [8]:
a = ["a", "b", "c"]
print(a[0])   # получим первый элемент "a"
print(a[2])   # получим третий (последний элемент) "c"
print(a[-1])  # получим последний элемент "c“

a
c
c

#### <center>**Получение срезов (подмножеств списков)**<center>

In [9]:
a = ["a", "b", "c", "d", "e"]
print(a[:2])     # получим элементы ["a", "b"]
print(a[2:4])    # получим элементы ["c", "d"]
print(a[0:4:2])  # возьмём только элементы на чётных индексах (0, 2)

['a', 'b']
['c', 'd']
['a', 'c']

#### **Задание 2.8**

Создайте список a из чисел от 1 до 10 (включительно). Затем сделайте срез из двух первых элементов.
Результат среза занесите в переменную a_slice.

In [ ]:
a = list(range(1,11))  # создаем список
a_slice = a[:2]        # делаем срез списка
print(a_slice)         # выводим список

#### <center>**Разворот списка**<center>

In [12]:
a = ["a", "b", "c", "d", "e"] # создаем список
print(a)                      # выводим список
b = a[::-1]                   # начать срез с первого элемента до последнего с шагом, равным -1 (разворот списка)
print(b)                      # выводим список

['a', 'b', 'c', 'd', 'e']
['e', 'd', 'c', 'b', 'a']

#### **Задание 2.9**

Создайте список из чисел от -5 до 5. Затем сделайте срез, чтобы в ответе был следующий список: [-1, 0, 1, 2, 3]. В качестве ответа напишите через запятую два положительных числа, являющихся границами среза.

In [9]:
lst = list(range(-5,6)) # создали список
new_lst = lst[4:9]      # получили срез
print(new_lst)          # вывели результат

[-1, 0, 1, 2, 3]

#### **Задание 2.10**

Создайте список из элементов от -3 до 6 и, используя срез [::-1], инвертируйте список. Выведите полученный результат. В качестве ответа запишите результат вывода.

In [10]:
lst = list(range(-3,7))  # создаем список
lst = lst[::-1]          # разворачиваем список
print(lst)               # выводим список

[6, 5, 4, 3, 2, 1, 0, -1, -2, -3]

#### **Задание 2.11**

С помощью функции .split() получите список из строки 'hello kitty' и возьмите два последних элемента. В качестве ответа введите результат вывода.

In [14]:
lst = 'hello kitty'.split() # разбиваем строку на список слов
lst = lst[-2:]              # берем 2 последних слова
print(lst)                  # выводим результат

['hello', 'kitty']

#### <center>**Метод append(): добавление элемента в список**<center>

In [14]:
orders_daily = []              # изначально список с чеками пустой
orders_daily.append("order1")  # добавляем чек
print(orders_daily)            # выводим список

['order1']

#### **Задание 2.12**

1. Создайте три переменные: a, b, c.
2. Положите в них следующие строковые значения: 'order1', 'order2', 'order3'.
3. Создайте пустой список orders, используя квадратные скобки.
4. Последовательно положите все три созданные переменные в список.  

Выведите значение получившегося списка на экран с помощью фукнции print(). В качестве ответа запишите результат вывода.

In [12]:
a, b, c = 'order1', 'order2', 'order3'  # создаем переменныые
orders = []                             # создаем пустой список
orders.append(a)                        # добавляем переменную a в список
orders.append(b)                        # добавляем переменную b в список
orders.append(c)                        # добавляем переменную c в список
print(orders)                           # выводим список

['order1', 'order2', 'order3']

#### **Задание 2.13**

1. Создайте две переменные: book1, book2.
2. Положите в них следующие строковые значения: 'my book', 'your book'.
3. Создайте список books, используя квадратные скобки. В нём уже должно лежать значение 'all_books'.
4. Последовательно положите две созданные переменные в список.  

Выведите значение получившегося списка на экран. В качестве ответа запишите результат вывода.

In [13]:
book1, book2 = 'my book', 'your book' # инициируем переменные
books = ['all books']                 # инициируем список с одним элементом
books.append(book1)                   # добавляем первую переменную в список
books.append(book2)                   # добавляем вторую переменную в список
print(books)                          # выводим список

['all books', 'my book', 'your book']

#### <center>**Метод clear(): очистка списка**<center>

In [17]:
a = ["order1", "order2", "order3", "order4"]   # создаем список
print(f'Список до очистки: {a}')               # выводим список до очистки
a.clear()                                      # очищаем список
print(f'Список после очистки: {a}')            # выводим список после очистки []

Список до очистки: ['order1', 'order2', 'order3', 'order4']
Список после очистки: []

#### **Задание 2.14**

Создайте список letters из первых пяти букв английского алфавита. Выведите его. Затем примените к списку letters метод .clear(). Снова выведите результат. В качестве ответа запишите результат последнего вывода.

In [11]:
lettters = ['a', 'b', 'c', 'd', 'e']  # создаем список букв
print(lettters)                       # выводим список 
lettters.clear()                      # очищаем список
print(lettters)                       # выводим список

['a', 'b', 'c', 'd', 'e']
[]

#### <center>**Метод count(): подсчитываем кол-во одинаковых элементов списка**<center>

In [18]:
a = ["a", "b", "c", "d", "b", "b", "g", "b", "r"]  # создаем список
print(a.count("b"))                                # выводим количество символов b в списке

4

#### **Задание 2.15**

Создайте список numbers из десяти произвольных элементов, но числа 5 и 1 в нём должны повторяться 3 и 2 раза соответственно. Примените к полученному списку метод .count(). В качестве аргумента возьмите число 5. Выведите полученный результат. В качестве ответа запишите результат вывода.
Введите получившееся число.

In [10]:
lst =[5,1,3,2,5,2,1,5,3,8] # cоздаем список
print(lst.count(5))        # выводим количество 5-рок в списке

3

#### <center>**Метод copy(): получение полной копии списка**<center>

In [19]:
a = [1,2,3]  # создаем список
b = a.copy() # получаем копию списка
print(b)     # выводим список

[1, 2, 3]

##### <center>**Альтернативный вариант копирования: полный срез**<center>

In [20]:
a = [1,2,3]  # создаем список
b = a[:]     # делаем копию списка методом полного среза
print(b)     # выводим копию списка

[1, 2, 3]

#### **Задание 2.16**

Создайте список my_books из пяти элементов: 'book1', 'book2', 'book3', 'book4', 'book5'. Затем используйте метод .copy() для копирования содержимого вашего списка в список tom_books. Выведите два полученных списка. В качестве ответа запишите результат вывода.

In [ ]:
my_books = ['book1', 'book2', 'book3', 'book4', 'book5'] # инициируем список
tom_books = my_books.copy()                              # копируем список
print(my_books, tom_books)                               # выводим списки

#### **Задание 2.17**

Создайте список my_orders из пяти элементов: 'order1', 'order2', 'order3', 'order4', 'order5'. Затем используйте квадратные скобки и двоеточие внутри для копирования содержимого вашего списка в список anne_orders. Выведите два полученных списка. В качестве ответа запишите результат вывода.

In [9]:
my_orders = ['order1', 'order2', 'order3', 'order4', 'order5'] # инициируем список
anne_ordes = my_orders[:]                                      # копируем список
print(my_orders, anne_ordes)                                   # печатаем списки

['order1', 'order2', 'order3', 'order4', 'order5'] ['order1', 'order2', 'order3', 'order4', 'order5']

#### <center>**Метод extend(): расширение списка за счет элементов другого списка (конкатенация списков)**<center>

In [22]:
a = ["a", "b", "c"]  # создаем список а
print(a)             # выводим список а
b = ["d", "e"]       # создаем список b
print(b)             # выводим список b 
a.extend(b)          # расширяем список a, включая в него список  b
print(a)             # выводим список a

['a', 'b', 'c']
['d', 'e']
['a', 'b', 'c', 'd', 'e']

#### **Задание 2.18**

1. Создайте список all_things, в котором будет лежать три элемента: 'order1', 'order2', 'order3'.
2. Затем создайте список only_books, в котором будет лежать два элемента: 'book1', 'book2'.
3. Используя метод .extend(), обогатите переменную all_things.  

Выведите результат. В качестве ответа запишите результат вывода.

In [8]:
all_things = ['order1', 'order2', 'order3'] # cоздаем список продаж
only_books = ['book1', 'book2']             # создаем список книг
all_things.extend(only_books)               # расширяем список продаж списком книг
print(all_things)                           # выводи список продаж

['order1', 'order2', 'order3', 'book1', 'book2']

#### <center>**Метод reverse(): разворот списка (альтернативный вариант)**<center>

In [7]:
a = [1,2,3,4,5]  # создаем список
print(a)         # выводим список
a.reverse()      # разворачиваем список
print(a)         # выводим развернутый список

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

#### **Задание 2.19**

Создайте список nums с числами от 1 до 10. Примените к нему метод .reverse(). Выведите переменную nums. В качестве ответа введите результат вывода.

In [6]:
lst = list(range(1,11))  # создаем список тиз 10 чисел
lst.reverse()            # разворачиваем список
print(lst)               # выводим список

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### <center>**Метод sort(): сортировка списка**<center>

In [23]:
a = [3,4,1,5,10,0, 2]  # создаем список
print(a)               # выводим список
a.sort()               # сортируем список
print(a)               # выводим отсортированный список

[3, 4, 1, 5, 10, 0, 2]
[0, 1, 2, 3, 4, 5, 10]

#### **Задание 2.20**

Создайте список random_values = [3, 5, 0, -1, 2, 10, 15, -5]. Вызовите метод .sort() на этом списке. Выведите список random_values. В качестве ответа запишите результат вывода.

In [5]:
random_values = [3, 5, 0, -1, 2, 10, 15, -5] # создаем список
random_values.sort()                         # сортируем список
print(random_values)                         # выводим список

[-5, -1, 0, 2, 3, 5, 10, 15]

Важно: в списке можно хранить не только простые типы (числа, строки), но также кортежи, словари, списки, списки внутри списков и даже функции.  
list1 = [[1,2,3], [4,5,6], [7,8,9]]  
list2 = [[3,2,4], (3,4), "5.6", 7]

#### **Задание 2.21**

Создайте список list1. Запишите в него последовательно:  
1. число 5;  
2. число 0.2;  
3. строку 'hello there';  
4. список [1,2,3,4];  
5. строку 'bye'.  

Выведите результат. В качестве ответа запишите результат вывода.

In [ ]:
list1 = list()              # создаем список
list1.append(5)             # доавляем 5
list1.append(0.2)           # добавляем 0.2
list1.append('hello there') # добавляем строку
list1.append([1, 2, 3, 4])  # добавляем список
list1.append('bye')         # добавляем строку
print(list1)                # выводим список

#### <center>**Создание кортежа**<center>

In [26]:
tpl1 = tuple()   # пустой кортеж
print(tpl1)      # выводим кортеж
tpl1 = ()        # пустой кортеж
print(tpl1)      # выводим кортеж
tpl1 = (3,)      # кортеж с одним элементом
print(tpl1)      # выводим кортеж
tpl1 = 3,        # кортеж с одним элементом
print(tpl1)      # выводим кортеж
tpl1 = (1, 2, 3) # кортеж из нескольких элементов
print(tpl1)      # выводим кортеж

()
()
(3,)
(3,)
(1, 2, 3)

#### **Задание 2.24**

Создайте пустой кортеж tpl, используя конструктор типов tuple(). Выведите полученный результат. В качестве ответа напишите результат вывода.

In [15]:
tpl = tuple() # создаем пустой кортеж
print(tpl)    # выводим кортеж

()

#### **Задание 2.25**

Создайте кортеж tpl2 c одним числом, равным 255. Выведите результат. В качестве ответа запишите результат вывода.

In [18]:
tpl2 = 255,  # создаем кортеж с одним числом
print(tpl2)  # выводим кортеж

(255,)

#### **Задание 2.26**

Создайте кортеж tpl3 c тремя числами: 15, 22 и 0. Выведите результат. В качестве ответа запишите результат вывода.

In [21]:
tpl3 = (15, 22, 0)  # создаем кортеж
print(tpl3)         # выводим кортеж

(15, 22, 0)

### <center>Словари<center>

#### <center>**Создание пустого словаря**<center>

In [27]:
my_dict = dict()  # создаем пустой словарь
print(my_dict)    # выводим пустой словарь
my_dict = {}      # создаем пустой словарь
print(my_dict)    # выводим пустой словарь

{}
{}

#### **Задание 3.4**

Создайте пустой словарь empty_dict, используя конструктор типов. Выведите результат. В качестве ответа запишите результат вывода

In [22]:
empty_dict = dict()  # создаем пустой словарь
print(empty_dict)    # выводим словарь

{}

#### **Задание 3.5**

Создайте пустой словарь empty_dict1, используя конструктор типов, а затем второй словарь empty_dict2 с использованием фигурных скобок. С помощью функции print() выведите значения обеих переменных. Убедитесь, что результаты одинаковые.

In [23]:
empty_dict1 = dict()            # создаем пустой словарь с использованием конструктора
empty_dict2 = {}                # создаем пустой словарь без использования конструктора   
print(empty_dict1, empty_dict2) # выводим оба словаря

{} {}

#### <center>**Создание заполенного словаря**<center>

In [29]:
phones = {'+79033923029': 'Ivan Ivanov', 
          '+78125849204': 'Kirill Smirnov', 
          '+79053049385': 'Mark Parkhomenko', 
          '+79265748370': 'Ekaterina Dmitrieva', 
          '+79030598495': 'Ruslan Belyi'}         # создаем заполненный словарь
print(phones)                                     # выводим словарь

{'+79033923029': 'Ivan Ivanov', '+78125849204': 'Kirill Smirnov', '+79053049385': 'Mark Parkhomenko', '+79265748370': 'Ekaterina Dmitrieva', '+79030598495': 'Ruslan Belyi'}

#### **Задание 3.6**

Создайте словарь alphabet_dict, в котором в качестве ключей будут пять первых букв английского языка, а в качестве значений для этих ключей будут числа от 1 до 5. Верните значение для буквы d:

In [24]:
alphabet_dict = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}   # создаем заполненный словарь
print(alphabet_dict['d'])                             # выводим значение элемента с ключом 'd'

4

#### **Задание 3.7**

Создайте словарь place_and_money, в котором в качестве ключей будут числа от 1 до 3, а в качестве значений — числа 100, 50, 10. Выведите денежный приз для второго места:

In [25]:
place_and_money = {1:100, 2:50, 3:10}   # создаем заполненный словарь
print(place_and_money[2])               # выводим значение элемента с ключом '2'

50

#### <center>**Обращение к значению в словаре по его ключу**<center>

In [30]:
print(phones["+79265748370"])  # обратились к зачению по его ключу

Ekaterina Dmitrieva

#### **Задание 3.8**

В словарь place_and_money = {1: 100, 2: 50, 3: 10} добавьте четвёртое место с призом, равным 5. Выведите получившийся словарь. В качестве ответа запишите результат вывода.

In [27]:
place_and_money[4] = 5  # добавляем в словарь приз за 4 место
print(place_and_money)  # выводим словарь

{1: 100, 2: 50, 3: 10, 4: 5}

#### **Задание 3.9**

В словаре place_and_money = {1: 100, 2: 50, 3: 10} измените призовое значение для третьего места с 10 на 25. Выведите получившийся словарь. В качестве ответа запишите результат вывода.

In [28]:
place_and_money = {1: 100, 2: 50, 3: 10}   # создаем заполненный словарь 
place_and_money[3] = 25                    # изменили приз за 3 место на 25
print(place_and_money)                     # выводим словарь

{1: 100, 2: 50, 3: 25, 4: 5}

#### <center>**Добавление значения в словарь**<center>

In [31]:
phones["+79686581788"]  = 'Artem Pliev'  # добавляем значение в словарь
print(phones)                            # выводим словарь

{'+79033923029': 'Ivan Ivanov', '+78125849204': 'Kirill Smirnov', '+79053049385': 'Mark Parkhomenko', '+79265748370': 'Ekaterina Dmitrieva', '+79030598495': 'Ruslan Belyi', '+79686581788': 'Artem Pliev'}

#### <center>**Методы работы со словарями**<center>

##### <center>**Метод clear(): очистка словаря**<center>

In [32]:
friends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156} # создаем словарь
print(friends)                                                                               # выводим словарь
friends.clear()                                                                              # очищаем словарь
print(friends)                                                                               # выводим словарь

{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156}
{}

#### **Задание 3.10**

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Очистите этот словарь. Выведите результат. В качестве ответа запишите результат вывода.

In [29]:
place_and_money = {1: 100, 2: 50, 3: 10}  # создаем словарь
place_and_money.clear()                   # очищаем словарь
print(place_and_money)                    # выводим словарь

{}

##### n<center>**Метод keys(): получение списка ключей словаря**<center>

In [43]:
friends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156} # создаем словарь
print(friends.keys())                                                                        # выводим все ключи словаря
print(list(friends.keys()))                                                                  # выводим список ключей словаря

dict_keys(['Kolya', 'Marina', 'Misha', 'Dima', 'Yana', 'Nina'])
['Kolya', 'Marina', 'Misha', 'Dima', 'Yana', 'Nina']

#### **Задание 3.11**

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Воспользуйтесь методом .keys() и выведите результат. В качестве ответа запишите результат вывода.

In [30]:
place_and_money = {1: 100, 2: 50, 3: 10} # создаем словарь
print(place_and_money.keys())            # выводим список ключей словаря

dict_keys([1, 2, 3])

#### **Задание 3.12**

Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Воспользуйтесь методом .keys() и выведите результат. В качестве ответа запишите результат вывода.

In [31]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}  # создаем словарь
print(name_to_age.keys())                               # выводим списко ключей словаря

dict_keys(['Anne', 'Anton', 'Phillip'])

##### <center>**Метод values(): получение списка значений словаря**<center>

In [38]:
print(friends.values())        # выводим все значения словаря
print(list(friends.values()))  # выводим список значений словаря

dict_values([180, 176, 158, 201, 183, 156])
[180, 176, 158, 201, 183, 156]

#### **Задание 3.13**

Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Воспользуйтесь методом .values() и выведите результат. В качестве ответа запишите результат вывода.

In [32]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30} # создаем словарь
print(name_to_age.values())                            # выводим список заначений словаря

dict_values([22, 27, 30])

#### **Задание 3.14**

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Воспользуйтесь методом .values() и выведите результат. В качестве ответа запишите результат вывода

In [33]:
place_and_money = {1: 100, 2: 50, 3: 10}  # создаес словарь
print(place_and_money.values())           # выводим список значений словаря

dict_values([100, 50, 10])

##### <center>**Метод get(): получение знчения по ключу.**<center>

Особенность метода: для несуществующего ключа возвращает значение None, обрабатывая ошибку KeyError.

In [39]:
print(friends.get("Matvey"))       # вывод значения None для отсутствующего ключа
print(friends.get("Matvey", 100))  # вывод значения по умолчанию для отсутсвующего ключа

None
100

#### **Задание 3.15**

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Попробуйте вывести приз для 20 места через метод .get(). В качестве значения по умолчанию поставьте число 0. В качестве ответа запишите результат вывода.

In [34]:
place_and_money = {1: 100, 2: 50, 3: 10} # создаем словарь
print(place_and_money.get(20))           # выводим приз для 20-го места

None

#### **Задание 3.16**

Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Попробуйте вывести возраст для персонажа по имени 'Danny'. Если такого имени не будет в словаре, выведите -1. В качестве ответа запишите результат вывода.

In [36]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30} # создаем список
x = name_to_age.get('Danny')                           # получаем значение по ключу 'Danny'
if x is None:                                          # если значение не определено
    print(-1)                                          # то выводим -1

-1

##### <center>**Метод update(): расширение словаря**<center>

In [44]:
friends.update({"Stas":171, "Nastya": 163}) # прямое расширение словаря
print(friends)
new_friends = {'Fedor':172, 'Лена':159}     
friends.update(new_friends)                 # расширени за счет элементов другого словаря
print(friends)

{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 171, 'Nastya': 163}
{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 171, 'Nastya': 163, 'Fedor': 172, 'Лена': 159}

#### **Задание 3.17**

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Затем добавьте в него следующие места и значения: четвёртое место с призом 5, пятое место с призом 1. Используйте метод update(). Выведите результат. В качестве ответа запишите результат вывода.

In [ ]:
place_and_money = {1: 100, 2: 50, 3: 10} # создаем словарь
place_and_money.update({4:5, 5:1})       # расширяем словарь
print(place_and_money)                   # выводим словарь

#### **Задание 3.18**

Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Измените у Анны возраст на 23, а у Филиппа — на 29. Используйте метод update(). Выведите результат. В качестве ответа запишите результат вывода.

In [37]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30} # создаем словарь
name_to_age.update({'Anne':23, 'Phillip':29})          # обновляем словарь
print(name_to_age)                                     # выводим словарь

{'Anne': 23, 'Anton': 27, 'Phillip': 29}

##### <center>**Метод pop()**<center>

Так же, как и в списке, в словаре метод .pop() удаляет из структуры данных элементы, но дополнительно метод возвращает результат — удалённый элемент. В словаре в этот метод мы передаём ключ. Из словаря удаляются и ключ, и значение, соответствующее этому ключу. Метод изменяет первоначальный словарь, а его результат (удалённый элемент) можно записать в переменную, чтобы в дальнейшем использовать в программе.

#### **Задание 3.19**

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Используя метод .pop(), удалите элемент словаря со значением приза за третье место. Результат работы метода запишите в переменную result и выведите её на экран. В качестве ответа запишите результат вывода.

In [38]:
place_and_money = {1: 100, 2: 50, 3: 10} # создаем словарь
result = place_and_money.pop(3)          # удаляем элемент по ключу 3
print(result)                            # выводим результат

10

#### **Задание 3.20**

Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. С помощью метода .pop() удалите из словаря данные для Антона. Результат запишите в переменную result и выведите её на экран. В качестве ответа запишите результат вывода.

In [ ]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30} # создаем словарь
result = name_to_age.pop('Антон')                      # удаляем элемент по ключу с сохранением в результат
print(name_to_age)                                     # выводим результат

##### <center>**Метод setdefault(): создание ключа со значением по умолчанию**<center>

In [45]:
friends.setdefault("Alena", 170)  # создаем ключ со значением по умолчанию (истинное значение неизвестно)
print(friends["Alena"])           # 170

170

#### **Задание 3.21**

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Через метод .setdefault() установите значение, равное 1, для десятого места. Выведите получившийся объект place_and_money. В качестве ответа запишите результат вывода.

In [39]:
place_and_money = {1: 100, 2: 50, 3: 10} # создаем словарь
place_and_money.setdefault(10, 1)        # добавляем приз по умолчанию
print(place_and_money)                   # выводим словарь

{1: 100, 2: 50, 3: 10, 10: 1}

#### **Задание 3.22**

Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Через метод .setdefault() обновите возраст у Анны с 22 до 32. Выведите результат — он не должен измениться. В качестве ответа запишите результат вывода.

In [40]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30} # создаем список
name_to_age.setdefault('Anne', 32)                     # обновляем возраст по умлочанию
print(name_to_age)                                     # выводим словарь

{'Anne': 22, 'Anton': 27, 'Phillip': 30}

**Важно!** В качестве ключа словаря должен выступать неизменяемый тип данных (числа, строки, кортежи), а в качестве значения может выступать любая структура данных.

In [46]:
d = {(1,2): "hello", "my name is": "Curt", 5: (7,7,7), "info": {"name": "stive", "age": 15, "cities": ["Moscow", "New York"]}} # создаем словарь
print(d)                                                                                                                       # выводим словарь

{(1, 2): 'hello', 'my name is': 'Curt', 5: (7, 7, 7), 'info': {'name': 'stive', 'age': 15, 'cities': ['Moscow', 'New York']}}

#### **Задание 3.23**

Создайте пустой словарь test_dict. Затем вставьте в него в качестве ключа число 5, а в качестве значения — список [3,4,5]. Затем в тот же словарь в качестве ключа добавьте кортеж (3,4,5), а его значением укажите строку 'strong man'. Выведите результат. В качестве ответа запишите результат вывода.

In [42]:
test_dict = dict()                  # создаем пустой словарь
test_dict[5] = [3, 4, 5]            # добавляем по числовому ключу список
test_dict[(3, 4, 5)] = 'strong man' # добаляем по ключу-кортежу строку
print(test_dict)                    # выводим словарь

{5: [3, 4, 5], (3, 4, 5): 'strong man'}

#### **Задание 3.24**

Создайте пустой словарь test_dict2. По ключу 'name' поставьте строку 'Sancho'. В качестве значения для ключа 'surname' поставьте 'Panso'. А для ключа 'info' добавьте словарь {'age': 35, 'country': 'Mexico'}. Выведите результат. В качестве ответа запишите результат вывода.

In [43]:
test_dict2 = dict()                                  # создаем пустой словарь
test_dict2['name'] = 'Sancho'                        # по строковому ключу добавили строку
test_dict2['surname'] = 'Panso'                      # по строковому ключу добавили строку
test_dict2['info'] = {'age':35, 'country':'Mexico'}  # по строковому ключу добавили словарь
print(test_dict2)                                    # выводим словарь

{'name': 'Sancho', 'surname': 'Panso', 'info': {'age': 35, 'country': 'Mexico'}}

#### **Задание 3.25**

Создайте пустой словарь test_dict3. По ключу 'info' добавьте список [10, 15, 27]. А ключу 'about' поставьте словарь {'game': 'football', 'period': 5}. Затем измените значение по ключу 'about' на 'dont know'. Выведите результат. В качестве ответа запишите результат вывода.

In [45]:
test_dict3 = dict()                                      # создаем пустой словарь
test_dict3['info'] = [10, 15, 27]                        # по строковому ключу добавляем список
test_dict3['about'] = {'game': 'football', 'period': 5}  # по строковому ключу добавляем словарь
test_dict3.update({'about':'dont know'})                 # обновляем значение по ключу 'info'
print(test_dict3)                                        # выводим словарь

{'info': [10, 15, 27], 'about': 'dont know'}

## <center>Множества<center>

#### <center>**Задание множетсва**<center>

In [41]:
set1 = set()        # пустое множество
print(set1)         # выводим пустое множество
s1 = set("hello")   # при создании множества в него не попадают дубликаты
print(s1)           # выводим множество
s2 = {1,2,3}        # множество уникальных элементов
print(s2)           # выводим множество

set()
{'l', 'o', 'h', 'e'}
{1, 2, 3}

#### **Задание 4.1**

Создайте с помощью конструктора типов пустое множество s1. Выведите результат. В качестве ответа запишите результат вывода.

In [1]:
s1 = set()  # создаем множество
print(s1)   # выводим множество

set()

#### **Задание 4.2**

Создайте с помощью фигурных скобок множество s2, в котором будет пять элементов: 5, 10, 3, 2, 11. В качестве ответа запишите получившуюся строку кода.

In [3]:
s2 = {5, 10, 3, 2, 11}  # создаем множество
print(f's2 = {s2}')     # выводим строку создания множества

s2 = {2, 3, 5, 10, 11}

#### **Задание 4.3**

Создайте множество s3 с помощью конструктора типов из строки 'wow thats cool'. Выведите результат. В качестве ответа запишите результат вывода в окне ниже.

In [4]:
s3 = set('wow thats cool')  # создаем множество из строки
print(s3)                   # выводим множество

{'a', 'w', 'o', 'h', 't', 'c', 'l', ' ', 's'}

### <center>**Методы множеств**<center>

#### <center>**Метод add(): добавление элемента в множество**<center>

In [48]:
s = {1, 2, 3, 4}  # создаем множество
s.add(5)          # добавляем к множеству элемент
print(s)          # выводим множество

{1, 2, 3, 4, 5}

#### <center>**Mетод update(): добаление сразу нескольких элементов**<center>

In [51]:
s1 = {5, 6, 7}        # создаем ножество s1
s.update(s1)          # к множеству s добавляем множество s1
print(s)              # выводим множество s
s.update({8, 9, 10})  # добавляес к множеству s еще одно множество
print(s)              # выводим множество s

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### **Задание 4.4**

Создайте множество s1 из первых пяти строчных букв английского языка. Затем с помощью метода .add() добавьте новый элемент со значением 'hello'. Выведите результат.
В качестве ответа запишите результат вывода.

In [9]:
s1 = {'a', 'b', 'c', 'd', 'e'}  # создаем множество
s1.add('hello')                 # добавляем элемент в множество
print(s1)                       # выводим множество

{'a', 'b', 'e', 'd', 'c', 'hello'}

#### <center>**Методы discard() и remove(): удаление элементов**<center>

Метод remove() при попытке удалить несуществующий элемент выдаст ошибку, а метод discard() не выполнит никаких операций

In [60]:
try:                     # в защишенном блоке
    s1 = {1,2,3,4,5}     # создаем множество
    s1.remove(10)        # удаляем несуществующий элемент
except:                  # возникает ошибка KeyError: 10
    s1.discard(10)       # удаляем элемент с плмлщью метода discard
                         # ничего не произошло
print(s1)                # выводим множество

{1, 2, 3, 4, 5}

In [61]:
print(s1)      # выводим множество
s1.remove(1)   # удаляем элемент
print(s1)      # выводим множество 
s1.discard(5)  # удаляем элемент
print(s1)      # выводим множество

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{2, 3, 4}

#### **Задание 4.5**

Создайте множество s1 из первых пяти строчных букв английского языка. Затем с помощью метода .remove() удалите элемент 'd'. Выведите s1.
В качестве ответа запишите результат вывода

In [10]:
s1 = {'a', 'b', 'c', 'd', 'e'}  # создаем множество
s1.remove('d')                  # удаляем элемент 'd'
print(s1)                       # выводим множество

{'a', 'b', 'e', 'c'}

#### **Задание 4.6**

Создайте множество s1 из первых шести строчных букв английского языка. Вызовите метод .discard() на элементе 'f'. Выведите результат.
В качестве ответа запишите результат вывода.

In [11]:
s1 = {'a', 'b', 'c', 'd', 'e', 'f'}  # создаем множество
s1.discard('f')                      # удаляем элемент 'f'
print(s1)                            # выводим множество

{'a', 'b', 'e', 'd', 'c'}

#### **Задание 4.7**

Создайте множество s1 из первых шести строчных букв английского языка. Вызовите метод .remove() на элементе 'f'. Выведите результат.
В качестве ответа запишите результат вывода.

In [12]:
s1 = {'a', 'b', 'c', 'd', 'e', 'f'}  # создаем множество
s1.remove('f')                       # удаляем элемент 'f'
print(s1)                            # выводим множество

{'a', 'b', 'e', 'd', 'c'}

#### <center>**Метод union(): объединение множеств**<center>

In [62]:
cluster1 = {"item1", "item2", "item3", "item4"}  # создаем множество 1
print(cluster1)                                  # выводим множество 1
cluster2 = {"item2", "item3", "item5", "item7"}  # создаем множество 2
print(cluster2)                                  # выводим множество 2
print(cluster1.union(cluster2))                  # выводим объединение множеств 1 и 2

{'item1', 'item3', 'item4', 'item2'}
{'item5', 'item7', 'item3', 'item2'}
{'item3', 'item4', 'item5', 'item2', 'item7', 'item1'}

#### **Задание 4.8**

Создайте множество alpha_set из первых пяти строчных букв английского алфавита. Затем создайте множество name из строки 'bad boy' (преобразуйте строку в множество с помощью функции set()). Примените метод .union() к созданным множествам. Выведите результат. В качестве ответа запишите результат вывода.

In [13]:
alpha_set = {'a', 'b', 'c', 'd', 'e'}  # создаем множество 1
name = set('bad boy')                  # создаем множество 2
print(alpha_set.union(name))           # выводим объединение множеств 1 и 2

{'a', 'y', 'b', 'e', 'o', 'd', 'c', ' '}

#### **Задание 4.9**

Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените метод .union() к созданным множествам. Выведите результат. В качестве ответа запишите результат вывода.

In [14]:
num_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10} # создаем множество 1
date_num = set([1,9,4,8])                    # создаем множество 2
print(num_set.union(date_num))               # выводим результат объединения множеств

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### <center>**Метод intersection(): пересечение множеств**<center>

In [63]:
cluster1 = {"item1", "item2", "item3", "item4"}  # создаем множество 1
print(cluster1)                                  # выводим множество 1
cluster2 = {"item2", "item3", "item5", "item7"}  # создаем множество 2
print(cluster2)                                  # выводим множество 1
print(cluster1.intersection(cluster2))           # выводим пересечение множеств 1 и 2

{'item1', 'item3', 'item4', 'item2'}
{'item5', 'item7', 'item3', 'item2'}
{'item3', 'item2'}

#### **Задание 4.10**

Создайте множество alpha_set из первых пяти строчных букв английского алфавита. Затем создайте множество name из строки 'bad boy'. Примените метод .intersection() к созданным множествам. Выведите результат.
В качестве ответа запишите результат вывода

In [2]:
alpha_set = set(['a', 'b', 'c', 'd', 'e'])  # исходное множество
name = set('bad boy')                       # множество из строки
print(alpha_set.intersection(name))         # выводим результат пересечения множеств

{'d', 'a', 'b'}

#### **Задание 4.11**

Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените метод .intersection() к созданным множествам. Выведите результат. В качестве ответа запишите результат вывода.

In [15]:
num_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10} # создаем множество 1
date_num = set([1,9,4,8])                    # создаем множество 2
print(num_set.intersection(date_num))        # выводим результат объединения множеств

{8, 1, 4, 9}

#### <center>**Метод difference(): выбор отсутсвующих элементов исходного множества в целевом множестве**<center>

In [64]:
cluster1 = {"item1", "item2", "item3", "item4", "item5"}  # создаем множество 1
print(cluster1)                                           # выводим множество 1
cluster2 = {"item3", "item4", "item5", "item6"}           # создаем множество 2
print(cluster2)                                           # выводим множество 2
print(cluster1.difference(cluster2))                      # выводим элементы множества 1 отсутствующие в множестве 2

{'item3', 'item5', 'item4', 'item2', 'item1'}
{'item4', 'item6', 'item3', 'item5'}
{'item1', 'item2'}

#### **Задание 4.12**

Создайте множество alpha_set из первых пяти строчных букв английского алфавита. Затем создайте множество name из строки 'bad boy'. Примените метод .difference() к созданным множествам. В качестве базового множества используйте alpha_set. Выведите результат.
В качестве ответа запишите результат вывода.

In [16]:
alpha_set = set(['a', 'b', 'c', 'd', 'e'])  # исходное множество 1
name = set('bad boy')                       # множество 2 из строки
print(alpha_set.difference(name))           # выводим элементы множества 1 отсутствующие в множестве 2

{'c', 'e'}

#### **Задание 4.13**

Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените метод .difference() к созданным множествам. Метод нужно применить к первому множеству. Выведите результат. В качестве ответа запишите результат вывода.

In [17]:
num_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10} # создаем множество 1
date_num = set([1,9,4,8])                    # создаем множество 2
print(num_set.difference(date_num))          # выводим элементы множества 1 отсутствующие в множестве 2

{0, 2, 3, 5, 6, 7, 10}

##### <center>**Метод issubset(): проверка исходного множества на вхождение в целевое множество**<center>

In [65]:
cluster1 = {"item1", "item2", "item3"}                    # создаем множество 1
print(cluster1)                                           # выводим множество 1
cluster2 = {"item2", "item3", "item4", "item5", "item6"}  # создаем множество 2
print(cluster2)                                           # выводим множество 2
print(cluster1.issubset(cluster2))                        # выводим результат проверки вхождения множества 1 в множество 2

{'item1', 'item3', 'item2'}
{'item3', 'item4', 'item5', 'item2', 'item6'}
False

### <center>**Преобразование типов**<center>

#### <center>**Преобразование чисел между собой**<center>

#### **Задание 5.1**

Создайте переменную a. Запишите в неё целое число 3. Сделайте преобразование типа в вещественный и сохраните результат в переменную b.

In [ ]:
a = 3          # создали целую переменную
b = float(a)   # преобразовали в вещественную
print(b)       # вывели вещественную переменную

#### **Задание 5.2**

1. Создайте переменную num1, равную 3.
2. Создайте переменную num2, равную 3.5.
3. Сложите эти два числа и присвойте результат переменной sum1.
4. Преобразуйте тип переменной num1 в вещественный и вновь произведите сложение с переменной num2.
5. Сохраните результат в переменную sum2.

Выведите результат переменных sum1 и sum2.

In [3]:
num1 = 3                   # создаем целую переменную
num2 = 3.5                 # создаем вещественную переменную
sum1 = num1 + num2         # суммируем целую и вещественную переменную
sum2 = float(num1)+ num2   # суммируем вещественные переменные
print(sum1, sum2)          # выводим переменные

6.5 6.5

#### <center>**Преобразование чисел в строки**<center>

С помощью функции **str()** можно преобразовать числа в строковое представление.

In [1]:
int_var = 5               # инициируем целое число
str_var = str(int_var)    # преобразовали в строку
print(str_var) # ‘5’      # вывели строку

5

#### **Задание 5.3**

Создайте переменную int_one, равную 1. Преобразуйте её в строку и сохраните результат в переменную str_one. Выведите переменную str_one. В качестве ответа запишите результат вывода.

In [3]:
int_one = 1               # инициируем целое число
str_one = str(int_one)    # преобразовали в строку
print(str_one) # ‘1’      # вывели строку

1

#### **Задание 5.4**

* Создайте переменную str_age_begin, равную 'my age is ' (в конце строки есть пробел).
* Создайте переменную int_age, равную 18.
* Сложите переменную str_age_begin с переменной int_age, преобразованной в строку.
* Сохраните результат в переменную result_string.  

Выведите полученную переменную.

In [6]:
str_age_begin = 'my age is'                        # создали начальну строку
int_age = 18                                       # создали числовую константу возраста
result_string = str_age_begin + ' '+str(int_age)   # получили мтоговую строку
print(result_string)                               # вывели итоговую строку

my age is 18

#### **Задание 5.5**

* Создайте переменную str_brothers_begin, равную 'I have ' (в конце строки есть пробел).
* Создайте переменную count, равную 5, и переменную str_brothers_end, равную ' brothers' (в начале строки есть пробел).
* Преобразуйте переменную count в строку и сложите с остальными переменными: str_brothers_begin + count + str_brothers_end.
* Сохраните результат в переменную result_sentence.  

Выведите полученную переменную.

In [8]:
str_brothers_begin = 'I have'                                                 # создали начальну строку
count = 5                                                                     # создали числовую константу
str_brothers_end = 'brothers'                                                 # создали замыкающую строку
result_string = str_brothers_begin + ' '+str(count) + ' ' +str_brothers_end   # получили мтоговую строку
print(result_string)                                                          # вывели итоговую строку

I have 5 brothers

#### <center>**Преобразование строк в числа**<center>

#### **Задание 5.6**

Создайте переменную s, равную 'hello world'. Попробуйте преобразовать её к целому типу. Возникнет ли ошибка?

In [1]:
s = 'hello world'  # создали строку
int(s)             # попытались ее преобразовать ее целому числу

ValueError: invalid literal for int() with base 10: 'hello world'

#### **Задание 5.7**

Создайте переменную s, равную '10'. Преобразуйте её к целому типу и выведите результат. В качестве ответа запишите результат вывода.

In [2]:
s = '10'        # создали строку
print(int(s))   # преобращовали ее в целое число и вывели

10

#### **Задание 5.8**

Создайте переменную s, равную '11'. Преобразуйте её к вещественному типу и выведите результат. В качестве ответа запишите результат вывода. Результат вывода должен иметь вид, например 5.0.

In [ ]:
s = '11'          # создали строку 
print(float(s))   # преобращовали ее в действительное число и вывели

#### **Задание 5.9**

Создайте переменную s, равную '50.4'. Попробуйте преобразовать её к целому типу. Возникнет ли ошибка?

In [3]:
s = '50.4'      # создали строку 
print(int(s))   # преобращовали ее в целое число и вывели

ValueError: invalid literal for int() with base 10: '50.4'

#### <center>**Преобразование к спискам и кортежам**<center>

In [67]:
dictionary = {"Anne": 15, "Sam": 30, "Marie": 22}  # создали словарь
only_keys = dictionary.keys()                      #
only_keys = list(only_keys)                        #    
only_keys = only_keys + ["Tom", "Curt"]            #  
print(only_keys)                                   #

['Anne', 'Sam', 'Marie', 'Tom', 'Curt']

In [68]:
d = {("Amanda", 22, "NY"): "3rd place"}
input_list = ["Collin", 23, "LA"]       # создаём новый ключ для словаря. Но пока этот ключ в виде списка.
input_place = "2nd place"
input_list_as_tuple = tuple(input_list) # преобразуем список в кортеж через конструктор типов tuple()
d[input_list_as_tuple] = input_place    # добавляем новый ключ и значение в словарь и выводим результат
print(d)

{('Amanda', 22, 'NY'): '3rd place', ('Collin', 23, 'LA'): '2nd place'}

#### **Задание 5.10**

Создайте список list1 из цифр от 1 до 5 (включительно). Преобразуйте список в кортеж tpl1 с помощью конструктора типов tuple(). Выведите результат. В качестве ответа запишите результат вывода.

In [2]:
list1 = [1, 2, 3, 4, 5]  # создаем список
tpl1 = tuple(list1)      # преобразуем в кортеж
print(tpl1)              # выводим кортеж

(1, 2, 3, 4, 5)

#### **Задание 5.11**

Создайте кортеж tpl1 из первых пяти букв английского языка. Преобразуйте кортеж в список list2 с помощью конструктора типов list(). Выведите результат. В качестве ответа запишите результат вывода.

In [3]:
tpl1 = (1, 2, 3, 4, 5)  # создаем кортеж
list2 = list(tpl1)      # преобразуем его в список
print(list1)            # выводим список

[1, 2, 3, 4, 5]

## <center>Практика<center>

#### **Задание 6.1**

Создайте пустой список list1. Добавьте в него последовательно числа 1, 2, 3 с помощью метода .append(). Выведите результат. В качестве ответа запишите результат вывода.

In [1]:
list1 = []        # создали пустой списко
list1.append(1)   # добавили 1
list1.append(2)   # добавили 2
list1.append(3)   # добавили 2
print(list1)      # вывели список

[1, 2, 3]

#### **Здадние 6.2**

* Создайте список list2, используя метод range(). 
* В качестве левой границы списка установите число -5 (минус пять), в качестве правой — число 15.
* Задайте шаг, равный 2.
* Создайте переменную list3, в которой будут числа 1,2,3,4.
* Используя метод .extend() у списка list3, добавьте list2.

Выведите список list3. В качестве ответа запишите результат вывода.

In [2]:
list2 = list(range(-5, 15, 2))  # создали list2
list3 = [1, 2, 3, 4]            # создали list3 
list3.extend(list2)             # расширили list3 за счет list2
print(list3)                    # ывели list3

[1, 2, 3, 4, -5, -3, -1, 1, 3, 5, 7, 9, 11, 13]


#### **Задание 6.3**

* Создайте список list6. В этом списке должны быть цифры в следующем порядке: 3, 1, -10, 5, 11, 20, 1, -10.
* Скопируйте содержимое списка в переменную list7.
* Произведите сортировку списка list6, а затем инвертируйте полученный список.
* Сохраните результат в переменную list_result.

Выведите списки в переменных list7 и list_result. В качестве ответа запишите результат вывода.

In [3]:
list6 =[3, 1, -10, 5, 11, 20, 1, -10]  # создали list6
list7 = list6.copy()                   # скопировали его в list7
list6.reverse()                        # развернули list6
list_result = list6                    # сохранили его в list_result
print(list7, list_result)              # вывели list7 и list_result

[3, 1, -10, 5, 11, 20, 1, -10] [-10, 1, 20, 11, 5, -10, 1, 3]

#### **Задание 6.4**

* Создайте список list1. Положите в него два значения: 10, 15.
* Преобразуйте список в кортеж и сохраните результат в tpl1.
* Создайте словарь dict1.
* По ключу, который соответствует кортежу tpl1, положите значение 'hello'.

Выведите полученный словарь dict1. В качестве ответа запишите результат вывода.

In [4]:
list1 = [10, 15]      # создали список list1
tpl1 = tuple(list1)   # на его основе создали кортеж
dict1 = dict()        # создали пустой словарь
dict1[tpl1] = 'hello' # в словарь по ключу кортежа положили строку
print(dict1)          # вывели словарь

{(10, 15): 'hello'}

#### **Задание 6.5**

Создайте два словаря: dict1 и dict2. Положите в первый словарь по ключу 'name' значение 'unknown', а во второй по ключу 'name' положите значение 'Tom'.

* Выведите dict1 и dict2.
* Выведите ключи и значения из dict1. Для этого используйте методы dict.keys() и dict.values().

В качестве ответа запишите общий результат двух выводов

In [5]:
dict1 = {'name' : 'unknown'}         # создали словарь dict1
dict2 = {'name' : 'Tom'}             # создали словарь dict2
print(dict1)                         # вывели словарь dict1
print(dict2)                         # вывели словарь dict2 
print(dict1.keys(), dict1.values())  # вывели ключи и значения dict1

{'name': 'unknown'}
{'name': 'Tom'}
dict_keys(['name']) dict_values(['unknown'])

#### **Задание 6.6**

Создайте два множества: s1 и s2, положив в первое множество значения из строки 'hello', а во второе множество - значения из списка ['w', 'o', 'w']. Выведите результаты объединения, пересечения, вычитания этих двух множеств.
В качестве ответа запишите результат вывода (обязательно соблюдайте порядок вывода). Результат вывода нужно записать в одну строку через один пробел.

In [8]:
s1 = set('hello')            # создали множество s1
s2 = set(['w', 'o', 'w'])    # создали множество s2
print(s1.union(s2))          # вывели объединение множеств
print(s1.intersection(s2))   # вывели пересечение множеств
print(s1.difference(s2))     # вывели разницу множеств

{'l', 'o', 'e', 'w', 'h'}
{'o'}
{'l', 'h', 'e'}

#### **Задание 6.7**

Выведите переменную result, которая является сложением строки 'age is ' (в конце строки есть пробел) и числа 15. Воспользуйтесь преобразованием типов. В качестве ответа запишите результат вывода.

In [10]:
result = 'age is ' + str(15)  # получили результирующую строку
print(result)                 # вывели строку

age is 15