## Реляционные базы данных и язык SQL (Simple Query Language)

**База данных** — это организованная структура для хранения, изменения и обработки взаимосвязанной информации.

Базы данных можно разделить на два вида:

* **Реляционные.** В таких БД данные хранятся в виде связанных таблиц. В этом курсе мы сфокусируемся именно на реляционных БД.
* **Нереляционные.** Такие БД имеют специфическую структуру: например, данные хранятся в формате ключ-значение или в виде дерева.

**Система управления базами данных**, или **СУБД** (от англ. DataBase Management System, DBMS) — это комплекс программных средств, необходимых для создания структуры новой базы, её наполнения, редактирования содержимого и отображения информации.

**SQL-запрос** представляет собой совокупность операторов, инструкций, вычисляемых функций.

Операторы SQL делятся на:

* **операторы определения данных (Data Definition Language, DDL)** — с их помощью создаются и изменяются объекты в БД (сама БД, таблицы, функции, процедуры, пользователи и т. д.);
* **операторы манипуляции данными (Data Manipulation Language, DML)** — с их помощью проводятся манипуляции с данными в таблицах;
* **операторы определения доступа к данным (Data Control Language, DCL)** — с их помощью, как следует из названия, создаются и изменяются разрешения на определённые операции с объектами в БД;
* **операторы управления транзакциями (Transaction Control Language, TCL)** — с их помощью осуществляется комплекс определённых действий, причём так, что либо все эти действия выполняются успешно, либо ни одно из них не выполняется вообще.

Напишите запрос, который выведет из таблицы kinopoisk столбцы с названием фильма, годом его выпуска и рейтингом.  

*Запрос:* 
  
**SELECT** movie_title, year, rating  
**FROM** sql.kinopoisk***

Напишите запрос, который выведет из таблицы kinopoisk следующие столбцы:

* имя режиссёра (director),
* название фильма (movie_title),
* разница между максимально возможным рейтингом (10) и рейтингом этого фильма.  

*Запрос:*  

**SELECT** Director, movie_title, 10-rating   
**FROM** sql.kinopoisk  

Запрос с созданием алиаса (наименования) для нового столбца разницы в рейтингах:  

*Запрос:*  

**SELECT** director, movie_title, 10 - rating **AS** difference  
**FROM** sql.kinopoisk  

**Обратите внимание!** Если в алиасе используются пробелы, необходимо заключать весь псевдоним в двойные кавычки, например, movie_title AS "Movie Title"

Напишите запрос, который выведет столбцы с именем режиссёра, названием фильма, рейтингом по 100-балльной шкале (столбец rating_100). Рейтинг по 100-балльной шкале определите как оценку по 10-балльной, умноженную на 10.  

*Запрос:*   

**SELECT** Director, movie_title, rating * 10 **AS** rating_100   
**FROM** sql.kinopoisk

### <center>Фильтрация строк<center>

Выбора строк, удовлетворяющем условию фильтрации используется ключевое слово **WHERE**.

Выберем первую строку из набора данных используя следующий запрос:  

*Запрос:*  

**SELECT** *  /*выбор всех столбцов*/  
**FROM** sql.kinopoisk /*из таблицы sql.kinopoisk*/  
**WHERE** position = 1 /*с позицией 1*/

Напишите запрос, чтобы вывести все столбцы для фильмов, которые вышли в прокат в 1999 году.

*Запрос:*  

**SELECT** *  
**FROM** sql.kinopoisk  
**WHERE** year = 1999

#### <center>Логические операторы AND, OR, NOT, BETWEEN, LIKE, IN, IS и NULL<center>

Выберем все столбцы таблицы для фильмов с годом производства 2000 и позднее или рейтингом более 8:  

*Запрос:*  

**SELECT** *  
**FROM** sql.kinopoisk   
**WHERE** year >= 2000 **OR** rating >= 8

Выберем все столбцы таблицы для фильмов с годом производства с 1975 по 1985 включительно:

*Запрос:*  

**SELECT** *  
**FROM** sql.kinopoisk  
**WHERE** year >= 1975 **AND** year <= 1985

Тот же запрос с помощью оператора BETWEEN:  

*Запрос:*  

**SELECT** *  
**FROM** sql.kinopoisk  
**WHERE** year **BETWEEN** 1975 **AND** 1985

Напишите запрос, который выведет столбцы с именем режиссёра и названием фильмов, у которых рейтинг больше или равен 8.5. Не забудьте, что в качестве десятичного разделителя используется точка.

*Запрос:*  

**SELECT** Director, movie_title  
**FROM** sql.kinopoisk  
**WHERE** rating >= 8.5

Напишите запрос, который выведет все фильмы, кроме тех, что вышли с 1965 по 1980 годы.  

*Запрос:*  

**SELECT** *  
**FROM** sql.kinopoisk  
**WHERE** year **NOT BETWEEN** 1965 **AND** 1980

Напишите запрос, который выводит названия фильмов, вышедших в прокат в 2000, 1985 и 1939 годах.  

*Запрос:*

**SELECT** movie_title  
**FROM** sql.kinopoisk  
**WHERE** year **IN** (1939, 1985, 2000)

Напишите запрос, чтобы вывести название и год выпуска в прокат тех фильмов, которые были сняты режиссёром по имени Дэвид (то есть значение в поле director начинается с 'Дэвид') и имеют рейтинг больше 8.  

*Запрос:*  

**SELECT** movie_title, year  
**FROM** sql.kinopoisk  
**WHERE** Director **LIKE** 'Дэвид%' **AND** rating > 8

Напишите запрос, который выводит все фильмы с отсутствующим описанием.  

*Запрос:*

**SELECT** *  
**FROM** sql.kinopoisk  
**WHERE** overview **IS NULL**

### <center>Сортировка<center>

Напишите запрос, который выведет из таблицы kinopoisk все столбцы и отсортирует строки по возрастанию рейтинга фильма.  

*Запрос:*  

**SELECT** *  
**FROM** sql.kinopoisk  
**ORDER BY** rating  

*Аналогичный запрос с явным указанием способа сортировки по возрастанию:*  

**SELECT** *  
**FROM** sql.kinopoisk  
**ORDER BY** rating **ASC**

Напишите запрос, который выводит названия, имена режиссёров и сценаристов, а также год выхода в прокат фильмов, выпущенных в СССР, и отсортируем результат по убыванию рейтинга.  

*Запрос:*

**SELECT** movie_title, director, screenwriter, year   
**FROM** sql.kinopoisk  
**WHERE** country = 'СССР'  
**ORDER BY** rating **DESC**

Напишите запрос, который выведет столбцы с названием фильма, его описанием и годом выхода в прокат. Оставьте только те фильмы, у которых рейтинг не ниже 8.2 и страна производства — не США. Отсортируйте вывод по году выхода фильма в порядке убывания.  

*Запрос:*

**SELECT** movie_title, overview, year  
**FROM** sql.kinopoisk  
**WHERE** rating >= 8.2 **AND** country <> 'США'  
**ORDER BY** year **DESC**

Также в **ORDER BY** можно указывать, где должны идти пустые значения — в начале или в конце. Такая настройка порядка вывода задаётся с помощью ключевых слов **NULLS FIRST / NULLS LAST**.

Напишите запрос, который выводит столюцы названия фильма, рейтинг, описаниеи год выпуска. Отсортируйте резельтат так, чтобы первыми шли фильмы с пустым описанием.  

*Запрос:*

**SELECT** movie_title, rating, overview, year   
**FROM** sql.kinopoisk  
**ORDER BY** overview **NULLS FIRST**

Напишите запрос, который выводит режиссера, название фильма, год выпуска и рейтинг . Строки отсортируйте по году выпуска и внутри него по рейтингу по убыванию.  

*Запрос:*

**SELECT** director, movie_title, year, rating    
**FROM** sql.kinopoisk  
**ORDER BY** year, rating **DESC**  

*Аналогичный запрос с сортировкой по номеру столбца:*

**SELECT** director, movie_title, year, rating    
**FROM** sql.kinopoisk  
**ORDER BY** 3, 4 **DESC**  

Сортировку по номеру столбца стоит использовать с осторожностью, поскольку при изменении вывода в SELECT всё может сбиться!!!

Напишите запрос, чтобы вывести названия всех фильмов (столбец Название фильма), у которых рейтинг выше 8.3 и страна производства — Франция. Отсортируйте по рейтингу в порядке убывания, далее — по году выхода в прокат (также в порядке убывания).  

*Запрос:*  

**SELECT** movie_title  
**FROM** sql.kinopoisk  
**WHERE** rating > 8.3 **AND** country = 'Франция'  
**ORDER BY** rating **DESC**, year **DESC**

### <center>Ограничение вывода<center>

Напишите запрос, который выводит ТОП-5 фильмов по рейтингу, сначала отсортировав их по убыванию, а потом оставив только верхние пять строк с помощью LIMIT.   

*Запрос:*

**SELECT** movie_title, rating  
**FROM** sql.kinopoisk   
**ORDER BY** rating **DESC**  
**LIMIT** 5

Напишите запрос, который выводит информацию (Режиссёр, Название фильма и Актёры) по ТОП-20 самых старых (определяем по году выхода в прокат) фильмов из таблицы kinopoisk.  

*Запрос:*

**SELECT** Director, movie_title, actors  
**FROM** sql.kinopoisk  
**ORDER BY** year  
**LIMIT** 20

Напишите запрос, который выводит название и рейтинг фильмов с четвёртого по восьмое место.

*Запрос:*

**SELECT** movie_title, rating   
**FROM** sql.kinopoisk  
**ORDER BY** rating **DESC**  
**OFFSET** 3 **LIMIT** 5

Напишите запрос, чтобы вывести названия фильмов, которые вышли в прокат после 1990 года и были сняты не в России. Из этого списка оставьте только те фильмы, которые занимают с 20 по 47 места в рейтинге. Отсортируйте результат по убыванию рейтинга фильмов.  

*Запрос*

**SELECT** movie_title  
**FROM** sql.kinopoisk  
**WHERE** year > 1990 **AND** country <> 'Россия'  
**ORDER BY** rating DESC  
**OFFSET** 19 **LIMIT** 28

Какой режиссёр снял самый старый фильм в списке?  

*Запрос:*

**SELECT** Director    
**FROM** sql.kinopoisk  
**ORDER BY** year  
**LIMIT** 1

В каком году был выпущен фильм, который занимает 111 строку в списке, отсортированном по рейтингу в порядке убывания?  

*Запрос*

**SELECT** Director, movie_title,year    
**FROM** sql.kinopoisk  
**ORDER BY** rating **DESC**
**OFFSET**  110 **LIMIT** 1

Напишите запрос, который выводит столбцы «Название фильма» (movie_title), «Режиссёр» (director), «Сценарист» (screenwriter), «Актёры» (actors). Оставьте только те фильмы, у которых:

* рейтинг между 8 и 8.5 (включительно) ИЛИ год выхода в прокат до 1990;
* есть описание;
* название начинается не с буквы 'Т';
* название состоит ровно из 12 символов.  

Оставьте только топ-7 фильмов, отсортированных по рейтингу.

*Запрос:*

**SELECT**  
    movie_title **AS** Название_фильма,   
    Director **AS** Режиссер,   
    screenwriter **AS** Сценарист,   
    actors **AS** Актёры  
**FROM** sql.kinopoisk    
**WHERE**   
    (rating **BETWEEN** 8 **AND** 8.5 **OR** year < 1990)  
    **AND** overview **IS NOT NULL**  
    **AND NOT** (movie_title **LIKE** 'T%')  
    **AND LENGTH**(movie_title) = 12  
**ORDER BY** rating **DESC**  
**LIMIT** 7