## <center>Соединения таблиц<center>

### <center>Знакомимся с данными<center>

Сколько различных полных названий команд в таблице teams?

*Запрос:*

**SELECT COUNT**(**DISTINCT** long_name)  
**FROM** sql.teams  

296

Сколько в таблице teams команд с коротким названием VAL?

*Запрос:*

**SELECT COUNT**(short_name)  
**FROM** sql.teams  
**WHERE** short_name = 'VAL'  

3

Информацию о скольких матчах содержит таблица matches?

*Запрос:*

**SELECT COUNT**(*)  
**FROM** sql.matches

25083

Данные за какие сезоны даны в таблице matches?

*Запрос:*

**SELECT** season  
**FROM** sql.matches  
**ORDER BY** season  

2008/2009

**SELECT** season  
**FROM** sql.matches  
**ORDER BY** season **DESC**

2015/2016

Напишите запрос, который выведет сезон (season), а также общее количество забитых мячей домашними (total_home_goals) и гостевыми (total_away_goals) командами. Отсортируйте по столбцу с сезоном в порядке возрастания.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;season,  
&ensp;&ensp;&ensp;&ensp;**SUM**(home_team_goals) **AS** total_home_goals,  
&ensp;&ensp;&ensp;&ensp;**SUM**(away_team_goals) **AS** total_away_goals  
**FROM** sql.matches  
**GROUP BY** season  
**ORDER BY** season

### <center>Соединение таблиц по ключу<center>

Чтобы соединить две таблицы между собой, достаточно записать названия таблиц через запятую в разделе from.

*Запрос:*

**SELECT** *  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams,  
&ensp;&ensp;&ensp;&ensp;sql.matches

Каждая запись, которая есть в таблице teams, будет соединена с каждой записью в таблице matches.
Это действие также называют декартовым произведением таблиц.

![](images/decart.png)  

В данном случае соединение таблиц не даёт практической пользы: мы получили очень много записей, которые никак не можем интерпретировать, потому что команды не соответствуют матчам.

Напишите запрос, который выведет количество строк соединённой таблицы.

*Запрос:*

**SELECT COUNT**(*)  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams,  
&ensp;&ensp;&ensp;&ensp;sql.matches  

7499817

**Ключ** — это поле (столбец) в таблице, которое позволяет однозначно идентифицировать запись (строку).  
Чтобы соединить таблицы и получить данные о домашней команде по каждому матчу, добавим условие
where home_team_api_id = api_id.

*Запрос:*

**SELECT** *  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams,  
&ensp;&ensp;&ensp;&ensp;sql.matches  
**WHERE** home_team_api_id = api_id

Напишите запрос, который выведет таблицу с результатами матчей для гостевых команд, содержащую:

* названия гостевых команд (long_name),  
* количество забитых мячей домашней команды (home_team_goals),  
* количество забитых мячей гостевой команды (away_team_goals).  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;long_name,  
&ensp;&ensp;&ensp;&ensp;home_team_goals,  
&ensp;&ensp;&ensp;&ensp;away_team_goals  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams,  
&ensp;&ensp;&ensp;&ensp;sql.matches  
**WHERE** away_team_api_id = api_id

### <center>Соединение таблиц по условию<center>

JOIN — это оператор SQL, который позволяет соединять таблицы по условию.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;long_name,  
&ensp;&ensp;&ensp;&ensp;home_team_goals,  
&ensp;&ensp;&ensp;&ensp;away_team_goals  
**FROM** sql.teams  
**JOIN** sql.matches on home_team_api_id = api_id

Выполните данный запрос

**SELECT** *  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams,  
&ensp;&ensp;&ensp;&ensp;sql.matches  
**WHERE** away_team_api_id = api_id  

с использованием оператора JOIN, исключив оператор WHERE.

*Запрос:*

**SELECT** *  
**FROM** sql.teams  
**JOIN** sql.matches on away_team_api_id = api_id

В таблицах, которые мы соединяем, могут быть одинаковые названия столбцов. К примеру, столбец id есть и в таблице matches, и в таблице teams. Такой запрос не будет обработан. Что же делать в таком случае? Можно указать, откуда мы хотим запросить данные, записав название таблицы перед столбцом через точку.  

*Запрос:*

**SELECT** teams.id  
**FROM** sql.teams  
**JOIN** sql.matches **ON** home_team_api_id = api_id

Зачастую названия таблиц слишком длинные, так что использовать их неудобно. Упростить обращение к различным таблицам можно, присвоив им сокращённые названия — алиасы (от англ. alias). Синтаксис для указания алиаса такой же, как и для названия столбца. 
Синтаксис для указания алиаса такой же, как и для названия столбца.  

**SELECT**  
&ensp;&ensp;&ensp;&ensp;столбец1,  
&ensp;&ensp;&ensp;&ensp;столбец2,  
&ensp;&ensp;&ensp;&ensp;...  
**FROM**  
&ensp;&ensp;&ensp;&ensp;таблица1 **AS** короткое_название_1  
**JOIN** таблица2 **AS** короткое_название_2 **ON** условие  

Название записывается без пробелов и операторов. Если необходимо записать название, в котором используются пробелы ("table 1"), то алиас можно обернуть в кавычки.  
**Важно!** Обращаться по такому алиасу придётся также с помощью кавычек.  

**SELECT**  
&ensp;&ensp;&ensp;&ensp;"table 1".столбец1,  
&ensp;&ensp;&ensp;&ensp;"table 2".столбец2,  
&ensp;&ensp;&ensp;&ensp;...  
**FROM**  
&ensp;&ensp;&ensp;&ensp;таблица1 **AS** "table 1"  
**JOIN** таблица2 **AS** "table 2" **ON** условие    

Использование таких алиасов считается плохой практикой как минимум по причине того, что обращаться с такими алиасами неудобно. Вместо алиасов с кавычками рекомендуется давать простое короткое название на латинице, без специальных символов и пробелов. Если таблиц немного и все названия начинаются с разных букв, можно присваивать алиасы по первой букве. Ключевое слово as, как и в названии столбца, можно опустить в большинстве СУБД.  

**SELECT**  
&ensp;&ensp;&ensp;&ensp;столбец1 новое_название_столбца,  
&ensp;&ensp;&ensp;&ensp;столбец2 новое_название_столбца,  
&ensp;&ensp;&ensp;&ensp;...  
**FROM**  
&ensp;&ensp;&ensp;&ensp;таблица1 короткое_название_1  
**JOIN** таблица2 короткое_название_2 **ON** условие

Напишите запрос, который выведет два столбца: id матча (match_id) и id домашней команды (team_id). Отсортируйте по id матча в порядке возрастания значений.  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;matches.id match_id,  
&ensp;&ensp;&ensp;&ensp;teams.id team_id  
**FROM** sql.teams  
**JOIN** sql.matches **ON** home_team_api_id = api_id  
**ORDER BY** match_id

Давайте с помощью запроса SQL получим таблицу, содержащую:

* название домашней команды;
* количество забитых домашней командой голов;
* количество забитых гостевой командой голов;
* название гостевой команды.  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;h.long_name "домашняя команда",  
&ensp;&ensp;&ensp;&ensp;m.home_team_goals "голы домашней команды",  
&ensp;&ensp;&ensp;&ensp;m.away_team_goals "голы гостевой команды",  
&ensp;&ensp;&ensp;&ensp;a.long_name "гостевая команда"   
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.matches m  
**JOIN** sql.teams h **ON** m.home_team_api_id = h.api_id  
**JOIN** sql.teams a **ON** m.away_team_api_id = a.api_id

Напишите запрос, который выведет столбцы:

* id матча,  
* короткое название домашней команды (home_short),  
* короткое название гостевой команды (away_short).  

Отсортируйте запрос по возрастанию id матча.  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;m.id,  
&ensp;&ensp;&ensp;&ensp;h.short_name home_short,  
&ensp;&ensp;&ensp;&ensp;a.short_name away_short  
**FROM** sql.matches m  
**JOIN** sql.teams h **ON** m.home_team_api_id = h.api_id  
**JOIN** sql.teams a **ON** m.away_team_api_id = a.api_id

### <center>Фильтрация и агрегатные функции для объединенных таблиц<center>

Принципиальное отличие фильтрации данных по соединённым таблицам от аналогичного действия по одиночным таблицам заключается в том, что, фильтруя записи одной таблицы, мы также будем фильтровать и записи другой таблицы, поскольку соединённые на уровне запроса таблицы по сути являются единой таблицей.  

**SELECT**  
&ensp;&ensp;&ensp;&ensp;m.id  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams t  
&ensp;&ensp;&ensp;&ensp;**JOIN** sql.matches m **ON** m.away_team_api_id = t.api_id  
**WHERE** long_name = 'Arsenal

Напишите запрос, который выведет полное название домашней команды (long_name), количество голов домашней команды (home_goal) и количество голов гостевой команды (away_goal) в матчах, где домашней командой были команды с коротким названием 'GEN'. Отсортируйте запрос по id матча в порядке возрастания.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;t.long_name,  
&ensp;&ensp;&ensp;&ensp;m.home_team_goals home_goal,  
&ensp;&ensp;&ensp;&ensp;m.away_team_goals away_goal  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams t  
&ensp;&ensp;&ensp;&ensp;**JOIN** sql.matches m **ON** m.home_team_api_id = t.api_id  
**WHERE** short_name = 'GEN'      
**ORDER BY** m.id

Напишите запрос, чтобы вывести id матчей, короткое название домашней команды (home_short), короткое название гостевой команды (away_short) для матчей сезона 2011/2012, в которых участвовала команда с названием Liverpool. Отсортируйте по id матча в порядке возрастания  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;m.id,  
&ensp;&ensp;&ensp;&ensp;h.short_name home_short,  
&ensp;&ensp;&ensp;&ensp;a.short_name away_short  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.matches m  
&ensp;&ensp;&ensp;&ensp;**JOIN** sql.teams h ON h.api_id = m.home_team_api_id  
&ensp;&ensp;&ensp;&ensp;**JOIN** sql.teams a ON a.api_id = m.away_team_api_id   
**WHERE**  
&ensp;&ensp;&ensp;&ensp;m.season = '2011/2012'  
&ensp;&ensp;&ensp;&ensp;**AND** (h.long_name = 'Liverpool' OR a.long_name = 'Liverpool')  
**ORDER** BY m.id

К соединённым таблицам также применимы любые агрегатные функции — самые важные функции для анализа данных.  
Например, мы можем вывести сумму голов матча, забитых командами, агрегированную по гостевым командам (совокупное количество голов в матче, забитых обеими командами, суммированное в разрезе гостевых команд).  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;t.long_name,  
&ensp;&ensp;&ensp;&ensp;**SUM**(m.home_team_goals) + **SUM**(m.away_team_goals) match_goals  
**FROM** 
&ensp;&ensp;&ensp;&ensp;sql.matches m  
&ensp;&ensp;&ensp;&ensp;**JOIN** sql.teams t **ON** m.away_team_api_id = t.api_id  
**GROUP BY** t.id

Мы можем использовать оператор HAVING для фильтрации сгруппированных данных.  Поставим задачу — вывести таблицу с суммарным количеством забитых голов в матчах по командам и сезонам для команд, в которых суммарное количество голов в матчах сезона больше 100.  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;m.season,  
&ensp;&ensp;&ensp;&ensp;t.long_name,  
&ensp;&ensp;&ensp;&ensp;**SUM**(m.home_team_goals) + SUM(m.away_team_goals) total_goals  
**FROM** sql.matches m  
**JOIN** sql.teams t **ON** t.api_id = m.home_team_api_id **OR** t.api_id = m.away_team_api_id  
**GROUP BY** m.season, t.id  
**HAVING SUM**(m.home_team_goals) + **SUM**(m.away_team_goals) > 100

Напишите запрос, с помощью которого можно вывести список полных названий команд, сыгравших в гостях 150 и более матчей. Отсортируйте список по названию команды.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;t.long_name  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams t  
&ensp;&ensp;&ensp;&ensp;**JOIN** sql.matches m **ON** m.away_team_api_id = t.api_id  
**GROUP BY** t.id  
**HAVING COUNT**(m.away_team_api_id) >= 150  
**ORDER BY** t.long_name

### <center>Операторы и способы соединения таблиц<center>

#### <center>Оператор **INNER JOIN**<center>

**INNER JOIN** — это тот же **JOIN** (слово inner в операторе можно опустить).  
Для **INNER JOIN** работает следующее правило: присоединяются только те строки таблиц, которые удовлетворяют условию соединения. Если в любой из соединяемых таблиц находятся такие строки, которые не удовлетворяют заявленному условию, — они отбрасываются.  

*Запром:*

**SELECT **  
&ensp;&ensp;&ensp;&ensp;**COUNT**(**DISTINCT** t.id)  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams t  
&ensp;&ensp;&ensp;&ensp;**JOIN** sql.matches m **ON** t.api_id = m.home_team_api_id **OR** t.api_id = m.away_team_api_id

### <center>Операторы **LEFT OUTER JOIN** и **RIGHT OUTER JOIN**<center>

Также существуют схожие друг с другом типы соединения — **LEFT JOIN** и **RIGHT JOIN** (слово outer в операторе можно опустить).  
Для **LEFT JOIN** работает следующее правило: из левой (относительно оператора) таблицы сохраняются все строки, а из правой добавляются только те, которые соответствуют условию соединения. Если в правой таблице не находится соответствия, то значения строк второй таблицы будут иметь значение NULL.

 Поставим следующую задачу: вывести полные названия команд, данных по которым нет в таблице matches.

 *Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;t.long_name,  
&ensp;&ensp;&ensp;&ensp;m.id  
**FROM** sql.teams t  
**LEFT JOIN** sql.matches m **ON** t.api_id = m.home_team_api_id **OR** t.api_id = m.away_team_api_id  
**ORDER BY** m.id **DESC**

**Вывод:** в таблице teams сохранились все записи, а в таблице matches есть пустые строки.  
Теперь, чтобы выбрать такие команды, которые не принимали участия в матчах, достаточно добавить условие *where m.id is null* (или любое другое поле таблицы matches).  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;t.long_name  
**FROM**  
&ensp;&ensp;&ensp;&ensp;sql.teams t  
**LEFT JOIN** sql.matches m **ON** t.api_id = m.home_team_api_id **OR** t.api_id = m.away_team_api_id  
**WHERE** m.id **IS NULL**

**Обратите внимание!** Если мы добавим какой-либо фильтр по отличному от **NULL** значению для таблицы matches, то **LEFT JOIN** превратится в **INNER JOIN**, поскольку для второй таблицы станет необходимым присутствие такого (**NOT NULL**) значения в строке.

Используя **LEFT JOIN**, выведите список уникальных названий команд, содержащихся в таблице matches. Отсортируйте список в алфавитном порядке.  

*Запрос:*

Используя **LEFT JOIN**, выведите список уникальных названий команд, содержащихся в таблице matches. Отсортируйте список в алфавитном порядке. 

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;t.long_name,  
&ensp;&ensp;&ensp;&ensp;**COUNT**(m.home_team_api_id) matches_cnt  
**FROM**   
&ensp;&ensp;&ensp;&ensp;sql.teams t  
&ensp;&ensp;&ensp;&ensp;**LEFT JOIN** sql.matches m **ON** t.api_id = m.away_team_api_id **OR** t.api_id = m.home_team_api_id  
**GROUP BY** t.id  
**ORDER BY** matches_cnt, t.long_name