### <center>Агрегатные функции<center>

#### <center>Получение уникальных значений одном или нескольких столбцах<center>

Для начала получим все основные типы покемонов.Для начала получим все основные типы покемонов.  

*Запрос:*

**SELECT** type1  
**FROM** sql.pokemon

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом DISTINCT.  

*Запрос:*

**SELECT DISTINCT** type1  
**FROM** sql.pokemon

Получим, например, все уникальные пары основного и дополнительного типов для покемонов.  

*Запрос:*

**SELECT DISTINCT** type1, type2  
**FROM** sql.pokemon

#### <center>Основные агрегатные функции<center>

Давайте посчитаем количество строк в таблице. Для этого применим агрегатную функцию COUNT.  

*Запрос:*

**SELECT COUNT**(*)  
**FROM** sql.pokemon  

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос.  
Если в аргументе функции указать название столбца, функция обработает только строки с непустым значением.

800

Сколько покемонов имеет дополнительный тип?  

*Запрос:*

**SELECT COUNT**(type2)  
**FROM** sql.pokemon  

414

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.  

*Запрос:*

**SELECT COUNT**(**DISTINCT* type1)  
**FROM** sql.pokemon

18

Найдите максимальное значение атаки среди всех покемонов.  

*Запрос:*

**SELECT MAX**(attack)  
**FROM** sql.pokemon

190

Какое среднее количество очков здоровья у покемонов-драконов (то есть тех, у кого основной тип — Dragon)?  Округлите до целого с уменьшением.  

*Запрос:*

**SELECT AVG**(hp)  
**FROM** sql.pokemon  
**WHERE** type1 = 'Dragon'

83

Кроме того, мы можем применять несколько агрегатных функций в одном запросе.  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;**COUNT**(*) **AS** "всего травяных покемонов",  
&ensp;&ensp;&ensp;&ensp;**COUNT**(type2) **AS** "покемонов с дополнительным типом",  
&ensp;&ensp;&ensp;&ensp;**AVG**(attack) **AS** "средняя атака",  
&ensp;&ensp;&ensp;&ensp;**AVG**(defense) **AS** "средняя защита"  
**FROM** sql.pokemon  
**WHERE** type1 = 'Grass

Напишите запрос, который выведет:  

* количество покемонов (столбец pokemon_count),
* среднюю скорость (столбец avg_speed),
* максимальное и минимальное число очков здоровья (столбцы max_hp и min_hp)  

для электрических (Electric) покемонов, имеющих дополнительный тип и показатели атаки или защиты больше 50.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;**COUNT**(id) **AS** pokemon_count,  
&ensp;&ensp;&ensp;&ensp;**AVG**(speed) **AS** avg_speed,  
&ensp;&ensp;&ensp;&ensp;**MAX**(hp) **AS** max_hp,  
&ensp;&ensp;&ensp;&ensp;**MIN**(hp) **AS** min_hp  
**FROM** sql.pokemon  
**WHERE**  
&ensp;&ensp;&ensp;&ensp;type1 = 'Electric'  
&ensp;&ensp;&ensp;&ensp;**AND** type2 **IS NOT NULL**  
&ensp;&ensp;&ensp;&ensp;**AND** (attack>50 OR defense>50)

#### <center>Группировка<center>

Прежде мы применяли агрегатные функции для всего вывода, а сейчас используем для различных групп строк.   
Поможет нам в этом ключевое слово GROUP BY.

Выведем число покемонов каждого типа.  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1 **AS** pokemon_type,  
&ensp;&ensp;&ensp;&ensp;COUNT(*) **AS** pokemon_count  
**FROM** sql.pokemon  
**GROUP BY** type1  
**ORDER BY** type1

Представим ТОП существующих типов покемонов.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1 **AS** pokemon_type,  
&ensp;&ensp;&ensp;&ensp;COUNT(*) **AS** pokemon_count  
**FROM** sql.pokemon  
**GROUP BY** pokemon_type  
**ORDER BY COUNT**(*) DESC

Напишите запрос, который выведет:

* число различных дополнительных типов (столбец additional_types_count),
* среднее число очков здоровья (столбец avg_hp),
* сумму показателей атаки (столбец attack_sum) в разбивке по основным типам (столбец primary_type).  

Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке. Столбцы к выводу (обратите внимание на порядок!): primary_type, additional_types_count, avg_hp, attack_sum.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1 **AS** primary_type,  
&ensp;&ensp;&ensp;&ensp;**COUNT**(**DISTINCT** type2) **AS** additional_type_count,  
&ensp;&ensp;&ensp;&ensp;**AVG**(hp) as avg_hp,  
&ensp;&ensp;&ensp;&ensp;**SUM(attack) AS attack_sum  
**FROM** sql.pokemon  
**GROUP BY** primary_type  
**ORDER BY**  
&ensp;&ensp;&ensp;&ensp;additional_type_count **DESC**,   
&ensp;&ensp;&ensp;&ensp;primary_type

Мы можем осуществлять группировку по нескольким столбцам.  

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1 **AS** primary_type,  
&ensp;&ensp;&ensp;&ensp;type2 **AS** additional_type,  
&ensp;&ensp;&ensp;&ensp;**COUNT**(*) **AS** pokemon_count  
**FROM** sql.pokemon  
**GROUP BY** 1, 2  
**ORDER BY** 1, 2 **NULLS FIRST**  

**Обратите внимание!** В группировке можно указывать порядковый номер столбца так же, как мы делали это в прошлом модуле для сортировки.

**GROUP BY** можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию **DISTINCT**.

#### <center>Фитрация агрегированных строк<center>

Если ключевое слово WHERE определяет фильтрацию строк до агрегирования, то для фильтрации уже агрегированных данных применяется ключевое слово HAVING.

Выведем типы покемонов и их средний показатель атаки, при этом оставим только тех, у кого средняя атака больше 90.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1 **AS** primary_type,  
&ensp;&ensp;&ensp;&ensp;AVG(attack) **AS** avg_attack  
**FROM** sql.pokemon  
**GROUP BY** primary_type   
**HAVING AVG**(attack) > 90

В **HAVING** вы можете использовать все те же условия, что и в **WHERE**.

Напишите запрос, который выведет основной и дополнительный типы покемонов (столбцы primary_type и additional_type) для тех, у кого средний показатель атаки больше 100 и максимальный показатель очков здоровья меньше 80.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1 **AS** primary_type,  
&ensp;&ensp;&ensp;&ensp;type2 **AS** additional_type  
**FROM** sql.pokemon  
**GROUP BY** primary_type, additional_type  
**HAVING AVG**(attack)>100 **AND MAX**(hp)<80

Напишите запрос, чтобы для покемонов, чьё имя (name) начинается с S, вывести столбцы с их основным типом (primary_type) и общим числом покемонов этого типа (pokemon_count). Оставьте только те типы, у которых средний показатель защиты больше 80. Выведите топ-3 типов по числу покемонов в них.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1 **AS** primary_type,  
&ensp;&ensp;&ensp;&ensp;**COUNT**(type1) **AS** pokemon_count  
**FROM** sql.pokemon  
**WHERE** name **LIKE** 'S%'  
**GROUP BY** primary_type  
**HAVING AVG**(defense)>80  
**ORDER BY COUNT**(type1) **DESC**  
**LIMIT** 3

Сколько различных значений показателей атаки есть у покемонов с типом Water (основным или дополнительным)?  

*Запрос:*

**SELECT** count(distinct attack)  
**FROM** sql.pokemon  
**WHERE** type2='Water' or type1='Water'

53

Напишите запрос, который выведет основной и дополнительный типы покемонов и средние значения по каждому показателю (столбцы avg_hp, avg_attack, avg_defense, avg_speed).Оставьте только те пары типов, у которых сумма этих четырёх показателей более 400.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1, type2,    
&ensp;&ensp;&ensp;&ensp;**AVG**(hp) **AS** avg_hp,  
&ensp;&ensp;&ensp;&ensp;**AVG**(attack) **AS** avg_attack,  
&ensp;&ensp;&ensp;&ensp;**AVG**(defense) **AS** avg_defense,  
&ensp;&ensp;&ensp;&ensp;**AVG**(speed) **AS** avg_speed  
**FROM** sql.pokemon   
**GROUP BY** type1, type2  
**HAVING** (**AVG**(hp)+**AVG**(attack)+**AVG**(defense)+**AVG**(speed)) > 400

Напишите запрос, который выведет столбцы с основным типом покемона и общим количеством покемонов этого типа. Учитывайте только тех покемонов, у кого или показатель атаки, или показатель защиты принимает значение между 50 и 100 включительно. Оставьте только те типы покемонов, у которых максимальный показатель здоровья не больше 125. Выведите только тот тип, который находится на пятом месте по количеству покемонов.

*Запрос:*

**SELECT**  
&ensp;&ensp;&ensp;&ensp;type1,  
&ensp;&ensp;&ensp;&ensp;**COUNT**(type1) **AS** count_type  
**FROM** sql.pokemon  
**WHERE**  
&ensp;&ensp;&ensp;&ensp;attack **BETWEEN** 50 **AND** 100  
&ensp;&ensp;&ensp;&ensp;**OR** defense **BETWEEN** 50 **AND** 100  
**GROUP BY** type1  
**HAVING MAX**(hp) <= 125  
**ORDER BY** count_type **DESC**  
**OFFSET** 4 **LIMIT** 1  

Rock  30